<div class="row full-height-width body-background-color" style="margin-left:0px !important">
    <div class="col-sm-12">
        <div class="container full-height-width">

            <div class="center_div body-background-color">
                    <div class="company-logo"> <a href="#"><img src="assets/images/golars.jpg" alt=""> </a></div> 
                <div *ngIf="newlyCretedUser == true">
                     <!-- newly created start-->
                     <div>
                           
                            <span style="text-align: center"><h2>Reset Password</h2></span>
                            <div class="alert alert-success" [hidden]='!showSuccessMessage'>
                                <strong>Success!</strong> Password changed succesfully. Click here to <a href='#/login' (click)='authenticationService.logout()'>login</a>
                            </div>
                            <div [hidden]='!showresetErrorMessage' class="alert alert-danger" role="alert">
                            Username doesn't exists in database
                        </div>
                            
                          <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
                                <label for="newPassword">New Password</label>
                                <input type="password" class="form-control body-background-color" [ngClass]="{ 'is-invalid': f.submitted && !newPassword.valid }" name="newPassword" [(ngModel)]="model.newPassword"
                                    #newPassword="ngModel" required maxlength="50"/>
                                <div *ngIf="f.submitted && !newPassword.valid" class="help-block text-danger">
                                    <span *ngIf="newPassword.errors?.required">New Password is required</span>
                                    </div>
                            </div>
                        
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control body-background-color" name="confirmPassword" [ngClass]="{ 'is-invalid': f.submitted && !confirmPassword.valid }" [(ngModel)]="model.confirmPassword"
                                    #confirmPassword="ngModel" required minlength="5" maxlength="12"/>
                                <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block text-danger">
                                    <span *ngIf="confirmPassword.errors?.required"> Confirm Password is required</span>
                                    <span *ngIf="confirmPassword.errors?.mismatch">New Password and Confirm Password doesn't match</span></div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Submit</button>
                                <a  class="btn btn-link"(click)="logout()">Cancel</a>
                            </div>
                        </form>
                        </div>
                     <!-- newly created end-->
                    </div>

                <div *ngIf="newlyCretedUser == false">
                <div class="alert alert-danger" *ngIf="loginErrorMessage != null">
                    {{loginErrorMessage}}
                </div>
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" [ngClass]="{ 'is-invalid': f.submitted && !username.valid }" class="form-control" name="username" [(ngModel)]="model.username"
                            #username="ngModel" required (keypress)="loginErrorMessage=null" />
                        <div *ngIf="f.submitted && !username.valid" class="help-block text-danger">Username is required</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input [ngClass]="{ 'is-invalid': f.submitted && !password.valid }" type="password" class="form-control" name="password"
                            [(ngModel)]="model.password" #password="ngModel" required (keypress)="loginErrorMessage=null" />
                        <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Password is required</div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Log in</button>
                    </div>
                    <!-- <div class="clearfix">
                        <a href="#" data-toggle="modal" data-target="#resetModal">Forgot Password?</a>
                    </div> -->
                </form>
            </div>
            </div>
        </div>

    </div>
 </div>
