<i class="fa fa-bars nav-bar-bars"  (click)="visibleSidebar=true"></i>
<p-sidebar [(visible)]="visibleSidebar" styleClass="p-sidebar" position="left" [baseZIndex]="10000" (onShow)="setSplitwidth()" (onHide)="reSetSplitwidth()" id="main_side_bar">
  &nbsp;
  <p-accordion id="leftpanel">
    <p-accordionTab header="Dashboard" [selected]="true" (click)="showAll();visibleSidebar=false;">
    </p-accordionTab>
    <p-accordionTab header="facilities" (click)="onFacilitiesDataSelect(null);showFacilities=true;visibleSidebar=false;"  [hidden]="commonService.getPreferencesOfFacilities()==false">
    </p-accordionTab>
    <p-accordionTab header="Companies" (click)="onCompaniesDataSelect(null);showCompanies=true;visibleSidebar=false;" [hidden]="commonService.getPreferencesOfCompanies()==false">
    </p-accordionTab>
    <p-accordionTab header="facilities in Compliance" (click)="onComplianceDataSelect(null);showCompliance=true;visibleSidebar=false;" [hidden]="commonService.getPreferencesOfCompliance()==false">
    </p-accordionTab>
    <p-accordionTab header="USSBOA Vendors">
    </p-accordionTab>
  </p-accordion>
</p-sidebar>
<div style="width: 320px;height:100px;float:left;display:none" id="left-split-panel"></div>
<split id="split-panel" direction="horizontal" class="split-pane-class" [useTransition]="true" gutterSize="3" gutterColor="{{GUTTER_COLOR}}" *ngIf="!showSearchResults"> 
   
  <split-area [visible]="area.leftVisible" [size]="area.left" order="1" id="left-split-panel">
    <div class="ui-g-12  margin-top" style="cursor: pointer;">
      <i *ngIf="showBack" i class="fa fa-arrow-left back-refresh-button" aria-hidden="true"  title="Back to show all"
        aria-hidden="true" (click)="showAll()"></i>
      <i class="fa fa-refresh pull-right back-refresh-button" title="Refresh Data" aria-hidden="true" (click)="fetchDashboardValues()"></i>
    </div>
    <div class="ui-g-12 margin-top" style="cursor: pointer;">
      <div [ngClass]="facilitiesClass" class="chart-left-padding" *ngIf="showFacilities">
        <div class="ui-g-12 dashboard-boder">
          <p class="dash-board-heading">My Facilities</p>
          <p-chart type="doughnut" [data]="facilitiesdata" (onDataSelect)="onFacilitiesDataSelect($event)" [options]="options"></p-chart>
        </div>
      </div>
      <div [ngClass]="companiesClass" *ngIf="showCompanies" class="chart-right-padding">
        <div class="ui-g-12 dashboard-boder">
          <p class="dash-board-heading">My companies</p>
          <p-chart type="pie" [data]="companiesdata" (onDataSelect)="onCompaniesDataSelect($event)" [options]="options"></p-chart>
        </div>
      </div>
    </div>
    <div class="ui-g-12 margin-top" style="cursor: pointer;">

      <div [ngClass]="complianceClass" *ngIf="showCompliance"  class="chart-left-padding">
        <div class="ui-g-12 dashboard-boder">
          <p class="dash-board-heading">My Compliance</p>
          <p-chart type="doughnut" [data]="complianceData" (onDataSelect)="onComplianceDataSelect($event)" [options]="options"></p-chart>
        </div>
      </div>
      <div [ngClass]="reportClass" *ngIf="showConsolidateReport" class="chart-right-padding">
        <div class="ui-g-12 dashboard-boder">
          <p class="dash-board-heading">My Inventory</p>
          <p-chart type="bar"  [data]="consolidateReportdata" (onDataSelect)="onConsolidateDataSelect($event)" [options]="noLegendtOptions"></p-chart>
        </div>
      </div>
    </div>
  </split-area>
  <split-area [visible]="area.centerVisible" [size]="area.center" order="2">
    <div *ngIf="newsFeedVisible==true">
      <!-- news Feed -->
      </div>
    <div *ngIf="newsFeedVisible==false">
      <p-panel id="rightPanel" header="{{rightPanelTitle}}" styleClass="height-center" *ngIf="showRightContent">
        <div style="height:calc(100vh - 164px);overflow-y: auto">
          <div *ngIf="facilitiesRightdata.length>0">
            <div *ngFor="let fdata of facilitiesRightdata; let i = index;" style="padding:10px;">
              <div *ngIf="i%3 == 0" class="ui-g-12">
                  <div *ngFor="let number of [0,1,2] let j = index;">
                      <div *ngIf="facilitiesRightdata[i+j] != null && facilitiesRightdata[i+j] != undefined"  class="{{middlePaneClass}}" (click)="showSpecificfacilityDetails(facilitiesRightdata[i+j])" style="cursor: pointer;" title="Click for more details">
                          <p-card styleClass="ui-card-shadow">
                            <div style="width: 100%">
                             <div> <div ngClass="header-padding-left ui-card-header">{{facilitiesRightdata[i+j].name}}</div>
                              <img class="card-image" src="{{facilitiesRightdata[i+j].image}}" /></div>
                          </div>
                            <div class="ui-g no-padding">
                              <div class="ui-g-4 no-padding"> Name:</div>
                              <div class="ui-g-8 no-padding">{{facilitiesRightdata[i+j].name}}</div>
                            </div>
                            <div class="ui-g no-padding">
                              <div class="ui-g-4 no-padding"> Fid:</div>
                              <div class="ui-g-8 no-padding">{{facilitiesRightdata[i+j].fid}}</div>
                            </div>
                            <div class="ui-g no-padding">
                              <div class="ui-g-4 no-padding"> Address:</div>
                              <div class="ui-g-8 no-padding">{{facilitiesRightdata[i+j].address}}</div>
                            </div>
                            <div class="ui-g no-padding">
                              <div class="ui-g-4 no-padding"> Compliance:</div>
                              <div class="ui-g-8 no-padding">
                                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="facilitiesRightdata[i+j].compliance" [disabled]="true"></p-inputSwitch>
                              </div>
                            </div>
                          </p-card>
                        </div>
                        
                  </div>

              </div>
            </div>
          </div>
<!-- companies start -->
<div *ngIf="companiesRightdata.length>0">
<p-accordion>
  <p-accordionTab header="{{companyData.name}}" *ngFor="let companyData of companiesRightdata;">
    <div *ngIf="companyData.facilities.length>0">
      <div *ngFor="let fdata of companyData.facilities; let i = index; let even = even;" style="padding:10px;">
          <div *ngIf="i%3 == 0" class="ui-g-12">
              <div *ngFor="let number of [0,1,2] let j = index;">
                  <div *ngIf="companyData.facilities[i+j] != null && companyData.facilities[i+j] != undefined" class="{{middlePaneClass}}" (click)="showSpecificfacilityDetails(companyData.facilities[i+j])" style="cursor: pointer;" title="Click for more details">
                      <p-card styleClass="ui-card-shadow">
                         <div style="width: 100%">
                             <div> <div ngClass="header-padding-left ui-card-header"> {{companyData.facilities[i+j].name}}</div>
                              <img class="card-image" src="{{companyData.facilities[i+j].image}}" /></div>
                          </div>
                        <div class="ui-g no-padding">
                          <div class="ui-g-4 no-padding"> Name:</div>
                          <div class="ui-g-8 no-padding">{{companyData.facilities[i+j].name}}</div>
                        </div>
                        <div class="ui-g no-padding">
                          <div class="ui-g-4 no-padding"> Fid:</div>
                          <div class="ui-g-8 no-padding">{{companyData.facilities[i+j].fid}}</div>
                        </div>
                        <div class="ui-g no-padding">
                          <div class="ui-g-4 no-padding"> Address:</div>
                          <div class="ui-g-8 no-padding">{{companyData.facilities[i+j].address}}</div>
                        </div>
                        <div class="ui-g no-padding">
                          <div class="ui-g-4 no-padding"> Compliance:</div>
                          <div class="ui-g-8 no-padding">
                            <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="companyData.facilities[i+j].compliance" [disabled]="true"></p-inputSwitch>
                          </div>
                        </div>
                      </p-card>
                    </div>
                    
              </div>

          </div>
      </div>
    </div>
  </p-accordionTab>
</p-accordion>
</div>
<!-- companies end -->
          <!-- compliance start -->
          <div *ngIf="complianceRightdata.length>0">
            <div *ngFor="let fdata of complianceRightdata; let i = index; let even = even;" style="padding:10px;">
              <!-- <button type="button" style="cursor: pointer;" class="btn btn-primary"(click)="showSpecificfacilityDetails(fdata)" >{{fdata.label}}
                      <img style="height:30px;width:30px" src="{{getImage(fdata)}}" />
                    </button> -->
                    <div *ngIf="i%3 == 0" class="ui-g-12">
                        <div *ngFor="let number of [0,1,2] let j = index;">
                            <div *ngIf="complianceRightdata[i+j] != null && complianceRightdata[i+j] != undefined"  class="{{middlePaneClass}}" (click)="showSpecificfacilityDetails(complianceRightdata[i+j])" style="cursor: pointer;" title="Click for more details">
                                <p-card styleClass="ui-card-shadow">
                                  <div style="width: 100%">
                                    <div> <div ngClass="header-padding-left ui-card-header">  {{complianceRightdata[i+j].name}}</div>
                                     <img class="card-image" src="{{complianceRightdata[i+j].image}}" /></div>
                                 </div>
                                  <div class="ui-g no-padding">
                                    <div class="ui-g-4 no-padding"> Name:</div>
                                    <div class="ui-g-8 no-padding">{{complianceRightdata[i+j].name}}</div>
                                  </div>
                                  <div class="ui-g no-padding">
                                    <div class="ui-g-4 no-padding"> Fid:</div>
                                    <div class="ui-g-8 no-padding">{{complianceRightdata[i+j].fid}}</div>
                                  </div>
                                  <div class="ui-g no-padding">
                                    <div class="ui-g-4 no-padding"> Address:</div>
                                    <div class="ui-g-8 no-padding">{{complianceRightdata[i+j].address}}</div>
                                  </div>
                                  <div class="ui-g no-padding">
                                    <div class="ui-g-4 no-padding"> Compliance:</div>
                                    <div class="ui-g-8 no-padding">
                                      <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="complianceRightdata[i+j].tankPaidService" [disabled]="true"></p-inputSwitch>
                                    </div>
                                  </div>
                                </p-card>
                              </div>
                              
                        </div>
      
                    </div>
            </div>
          </div>
        </div>
      </p-panel>
    </div>
  </split-area>
  <split-area [visible]="area.rightVisible" [size]="area.right" order="3" style="overflow: hidden;">
    <p-panel id="rightDetailsPanel" styleClass="height-center" *ngIf="showRightDetailContent">
      <p-header ngClass="header-padding-left">
          <div style="width: 100%"> {{rightPaneDetailslTitle}}
        <i style="float:right;cursor: pointer;" class="fa fa-times" aria-hidden="true" title="Click to hide the details" (click)="hideRightContentDetails(rightDetailsContent)"></i>
      </div>
      </p-header>
      <div style="height:calc(100vh - 185px);overflow-y: auto">
        <div class="ui-g-12">
            <p-card styleClass="ui-card-shadow">
                <div style="width: 100%">
                    <div> <div ngClass="header-padding-left ui-card-header" style="padding-left:20px !important"> {{rightDetailsContent.facilityName}}</div>
                     <img class="card-image" src="{{rightDetailsContent.image}}" /></div>
                 </div>
            <div class="ui-g no-padding">
              <div class="ui-g-4 no-padding"> Name:</div>
              <div class="ui-g-8 no-padding">{{rightDetailsContent.facilityName}}</div>
            </div>
            <div class="ui-g no-padding">
              <div class="ui-g-4 no-padding"> Fid:</div>
              <div class="ui-g-8 no-padding">{{rightDetailsContent.fid}}</div>
            </div>
            <div class="ui-g no-padding">
              <div class="ui-g-4 no-padding"> Address:</div>
              <div class="ui-g-8 no-padding">{{rightDetailsContent.address}}</div>
            </div>
            <div class="ui-g no-padding" *ngIf="selectedChart !== 'compliance'">
              <div class="ui-g-4 no-padding"> Compliance:</div>
              <div class="ui-g-8 no-padding">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="rightDetailsContent.compliance" [disabled]="true"></p-inputSwitch>
              </div>
            </div>
            <div class="ui-g no-padding" *ngIf="selectedChart == 'compliance'">
              <div class="ui-g-4 no-padding"> Compliance</div>
              <div class="ui-g-8 no-padding">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="rightDetailsContent.tankPaidService" [disabled]="true"></p-inputSwitch>
              </div>
            </div>
          </p-card>
        </div>
        <div class="ui-g-12 margin-top" id="individual-chart">
            <p-card styleClass="ui-card-shadow">
                <div style="width: 100%">
                    <div> <div ngClass="header-padding-left ui-card-header" style="padding-left:20px !important">Consolidate report of Gas station (Gallons)</div>
                      </div>
                     </div>
              <p-chart [width]="400" [height]="400" type="bar" [data]="facilityConsolidateReportdata" [options]="noLegendtOptions"></p-chart>

          </p-card>
        </div>
        <div class="ui-g-12 margin-top">
          <div class="ui-g-4">
            <button type="button" class="btn btn-default btn-circle btn-lg"  ngClass="{{ getNotificationFormButtonClass(rightDetailsContent)}}"
             data-toggle="modal" data-target="#notificationFormModal"
            (click)="getNotificationModalData(rightDetailsContent.facilityId)"
            >Notification
              <br>Form</button>
          </div>
          <div class="ui-g-4">
            <button type="button" class="btn btn-default btn-circle btn-lg"  ngClass="{{ getComplianceButtonClass(rightDetailsContent)}}"
             data-toggle="modal" (click)="getNotificationModalData(rightDetailsContent.facilityId)" data-target="#complianceFormModal">Compliance
              <br>Section</button>
          </div>
          <div class="ui-g-4">
            <button type="button" class="btn btn-default btn-circle btn-lg" ngClass="{{ getCertificationButtonClass(rightDetailsContent)}}" 
            data-toggle="modal" (click)="getNotificationModalData(rightDetailsContent.facilityId)" data-target="#certificationFormModal">Certification</button>
          </div>
        </div>

      </div>
    </p-panel>

  </split-area>
</split>

<!-- notification form start -->
<div class="modal fade" id="notificationFormModal" tabindex="-1" role="dialog" aria-labelledby="notificationFormModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title modal-header-round" id="exampleModalCenterTitle">Notification Form</div>
        <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal" aria-label="Close"  >
            &times;
        </button>
      </div>
      <div class="modal-body file-upload-model">
        <form name="form" #notificationForm novalidate>
          <div class="ui-g-12 form-upload-padding file-upload-first">
            <div class="ui-g-8">Facility Operator POA</div>
            <div class="ui-g-4">
              <p-fileUpload name="fOperatorFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                #fOperatorfileUpload customUpload="true" (onSelect)="enableNotificationuploadButton = true;fOperatorfile = $event.files[0]; fOperatorFileName=$event.files[0].name"
                [disabled]="{true: modalData?.facilityOperatorPOA?.toLowerCase() != 'missing'}"></p-fileUpload>
              <span *ngIf='fOperatorfileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{fOperatorFileName}}  </span>
            </div>
          </div>
          <div class="ui-g-12 form-upload-padding file-upload-second">
            <div class="ui-g-8">Property Owner POA</div>
            <div class="ui-g-4">
              <p-fileUpload name="pOwnerFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}" #pOwnerfileUpload
                customUpload="true" (onSelect)="enableNotificationuploadButton = true;ownerFile = $event.files[0];  ownerFileName=$event.files[0].name"
                [disabled]="{true: modalData?.propertyOwnerPOA?.toLowerCase() != 'missing'}"></p-fileUpload>
                <span *ngIf='ownerFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{ownerFileName}}</span>
            </div>
          </div>
          <div class="ui-g-12 form-upload-padding file-upload-first">
            <div class="ui-g-8">UST Owner POA</div>
            <div class="ui-g-4">
              <p-fileUpload name="usetOwnerFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                #usetOwnerfileUpload customUpload="true" (onSelect)="enableNotificationuploadButton = true;ustOwnerFile = $event.files[0]; ustOwnerFileName=$event.files[0].name"
                [disabled]="{true: modalData?.ustOwnerPOA?.toLowerCase() != 'missing'}"></p-fileUpload>
                <span *ngIf='ustOwnerFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{ustOwnerFileName}}</span>
            </div>
          </div>
          <div class="ui-g-12 form-upload-padding file-upload-first">
            <div class="ui-g-8">Operator Lease Agreement</div>
            <div class="ui-g-4">
              <p-fileUpload name="operatorLeaseFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                #operatorLeasefileUpload customUpload="true" (onSelect)="enableNotificationuploadButton = true;operatorLeaseFile = $event.files[0]; operatorLeaseFileName=$event.files[0].name"
                [disabled]="{true: modalData?.operatorAffidevitOfLease?.toLowerCase() != 'missing'}"></p-fileUpload>
                <span *ngIf='operatorLeaseFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{operatorLeaseFileName}}</span>
            </div>
          </div>
          <div class="ui-g-12 form-upload-padding file-upload-second">
            <div class="ui-g-8">Notification Form Due Date</div>
            <div class="ui-g-4">
              <p-fileUpload name="notificationDueDateFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                #notificationDueDatefileUpload customUpload="true" (onSelect)="enableNotificationuploadButton = true;notificationDueDateFile = $event.files[0]; notificationDueDateFileName=$event.files[0].name"
                [disabled]="{true: modalData?.notificationDueDate?.toLowerCase() != '1'}"></p-fileUpload>
                <span *ngIf='notificationDueDateFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{notificationDueDateFileName}}</span>
            </div>
          </div>
          <div class="ui-g-12 form-upload-padding file-upload-first">
            <div class="ui-g-8">Operator Affidavit of Lease</div>
            <div class="ui-g-4">
              <p-fileUpload name="operatoraffidavitFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                #operatoraffidavitUpload customUpload="true" (onSelect)="enableNotificationuploadButton = true;operatoraffidavitFile = $event.files[0]; operatoraffidavitFileName=$event.files[0].name"
                [disabled]="{true: modalData?.operatorAffidevitOfLease?.toLowerCase() != 'missing'}"></p-fileUpload>
                <span *ngIf='operatoraffidavitFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{operatoraffidavitFileName}}</span>
            </div>
          </div>
          <div class="ui-g-12 form-upload-padding file-upload-second">
            <div class="ui-g-8">Owner Affidavit Of Lease</div>
            <div class="ui-g-4">
              <p-fileUpload name="ownerAffidavitFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                #ownerAffidavitfileUpload customUpload="true" (onSelect)="enableNotificationuploadButton = true;ownerAffidavitFile = $event.files[0]; ownerAffidavitFileName=$event.files[0].name"
                [disabled]="{true: modalData?.ownerAffidevitOfLease?.toLowerCase() != 'missing'}"></p-fileUpload>
                <span *ngIf='ownerAffidavitFile == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{ownerAffidavitFileName}}</span>
            </div>
          </div>
          <div class="ui-g-12 form-upload-padding file-upload-first">
            <div class="ui-g-8">Deed or Land Contract</div>
            <div class="ui-g-4">
              <p-fileUpload name="deedLandFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}" #deedLandfileUpload
                customUpload="true" (onSelect)="enableNotificationuploadButton = true;deedLandFile = $event.files[0]; deedLandFileName=$event.files[0].name"
                [disabled]="{true: modalData?.propertyDeedLandContract?.toLowerCase() != 'missing'}"></p-fileUpload>
                <span *ngIf='deedLandFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{deedLandFileName}}</span>
            </div>
          </div>
          <div class="ui-g-12 form-upload-padding file-upload-second">
            <div class="ui-g-8">Tax ID Information</div>
            <div class="ui-g-4">
              <p-fileUpload name="taxIdFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}" #taxIdfileUpload
                customUpload="true" (onSelect)="enableNotificationuploadButton = true;taxIdFile = $event.files[0]; taxIdFileName=$event.files[0].name"
                [disabled]="{true: modalData?.taxIDInformation?.toLowerCase() != 'missing'}"></p-fileUpload>
                <span *ngIf='taxIdFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{taxIdFileName}}</span>
            </div>
          </div>
          <div class="ui-g-12 form-upload-padding file-upload-first">
            <div class="ui-g-8">Notification form Submitted</div>
            <div class="ui-g-4">
              <p-fileUpload name="notificationFormSubmittedFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                #notificationFormSubmittedfileUpload customUpload="true" (onSelect)="enableNotificationuploadButton = true;notificationFormSubmittedFile = $event.files[0]; notificationFormSubmittedFileName=$event.files[0].name"
                [disabled]="{true: modalData?.notificationFormSubmitted?.toLowerCase() != 'missing'}">
                </p-fileUpload>
                <span *ngIf='notificationFormSubmittedFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{notificationFormSubmittedFileName}}</span>
            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!enableNotificationuploadButton" (click) ="importNotificationDocuments()">Upload</button>
      </div>
    </div>
  </div>
</div>
<!-- notification form end -->

<!-- compliance section start-->
<div class="modal fade" id="complianceFormModal" tabindex="-1" role="dialog" aria-labelledby="complianceFormModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title modal-header-round" id="exampleModalCenterTitle">Compliance Form </div>
            <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal" aria-label="Close"  >
                &times;
            </button>
        </div>
        <div class="modal-body file-upload-model">
          <form name="form" #complianceForm novalidate>
            <div class="ui-g-12 form-upload-padding file-upload-first">
              <div class="ui-g-8">Line and Leak Detector Test</div>
              <div class="ui-g-4">
                <p-fileUpload name="fLineLeakFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                  #fLineLeakfileUpload customUpload="true" (onSelect)="enableComplianceuploadButton = true;lineLeakFile = $event.files[0]; lineLeakFileName=$event.files[0].name"
                  [disabled]="(modalData?.lnlDetrTstRequrd != true && modalData?.lineAndLeakDetector !==null)"></p-fileUpload>
                  <span *ngIf='lineLeakFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{lineLeakFileName}}</span>
              </div>
            </div>
            <div class="ui-g-12 form-upload-padding file-upload-second">
              <div class="ui-g-8">Cathodic Protection</div>
              <div class="ui-g-4">
                <p-fileUpload name="cathodicProtectionFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}" #athodicProtectionUpload
                  customUpload="true" (onSelect)="enableComplianceuploadButton = true;cathodicProtectionFile = $event.files[0]; cathodicProtectionFileName=$event.files[0].name"
                  [disabled]="(modalData?.cprequired != true && modalData?.cathodicProtection == null)"></p-fileUpload>
                  <span *ngIf='cathodicProtectionFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{cathodicProtectionFileName}}</span>
              </div>
            </div>
            <div class="ui-g-12 form-upload-padding file-upload-first">
              <div class="ui-g-8">Tank Testing Report</div>
              <div class="ui-g-4">
                <p-fileUpload name="tankTestingReportFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                  #tankTestingReportFileUpload customUpload="true" (onSelect)="enableComplianceuploadButton = true;tankTestingReportFile = $event.files[0]; tankTestingReportFileName=$event.files[0].name"
                  [disabled]="(modalData?.tankTestingReportRequired != true && modalData?.tankTestingReport ==null)"></p-fileUpload>
                  <span *ngIf='tankTestingReportFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{tankTestingReportFileName}}</span>
              </div>
            </div>
            <div class="ui-g-12 form-upload-padding file-upload-second">
              <div class="ui-g-8">Repair Documents (Optional)</div>
              <div class="ui-g-4">
                <p-fileUpload name="repairDocumentsFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                  #repairDocumentsFileUpload customUpload="true" (onSelect)="enableComplianceuploadButton = true;repairDocumentsFile = $event.files[0]; repairDocumentsFileName=$event.files[0].name"
                  [disabled]="(modalData?.repairDocumentRequired != true && modalData?.repairDocuments ==null)"></p-fileUpload>
                  <span *ngIf='repairDocumentsFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{repairDocumentsFileName}}</span>
              </div>
            </div>
            <div class="ui-g-12 form-upload-padding file-upload-first">
              <div class="ui-g-8">Release Detection Report</div>
              <div class="ui-g-4">
                <p-fileUpload name="releaseDetectionFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                  #releaseDetectionfileUpload customUpload="true" (onSelect)="enableComplianceuploadButton = true;releaseDetectionFile = $event.files[0]; releaseDetectionFileName=$event.files[0].name"
                  [disabled]="(modalData?.releaseDetectionReportRequired != true && modalData?.releaseDetectionReport ==null)"></p-fileUpload>
                  <span *ngIf='releaseDetectionFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{releaseDetectionFileName}}</span>
              </div>
            </div>
            <div class="ui-g-12 form-upload-padding file-upload-second">
              <div class="ui-g-8">Internal Lining Inspection</div>
              <div class="ui-g-4">
                <p-fileUpload name="internalLiningFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                  #internalLiningUpload customUpload="true" (onSelect)="enableComplianceuploadButton = true;internalLiningFile = $event.files[0]; internalLiningFileName=$event.files[0].name"
                  [disabled]="(modalData?.internalLiningInspectionRequired != true && modalData?.internalLiningInspection ==null)"></p-fileUpload>
                  <span *ngIf='internalLiningFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{internalLiningFileName}}</span>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-primary" [disabled]="!enableComplianceuploadButton"  (click) ="importComplianceDocuments()">Upload</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Compliance section end -->

  <!-- Certification modal dialog start -->
<div class="modal fade" id="certificationFormModal" tabindex="-1" role="dialog" aria-labelledby="certificationFormModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title modal-header-round" id="exampleModalCenterTitle">Certification Form</div>
            <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal" aria-label="Close"  >
                &times;
            </button>
        </div>
        <div class="modal-body file-upload-model">
          <form name="form" #certificationForm novalidate>
            <div class="ui-g-12 form-upload-padding file-upload-first">
              <div class="ui-g-8">Operator A certificate</div>
              <div class="ui-g-4">
                <p-fileUpload name="certificateAFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                  #certificateAFileUpload customUpload="true" (onSelect)="enableCertificationuploadButton = true;operatorAcertificateFile = $event.files[0]; operatorAcertificateFileName=$event.files[0].name"
                  [disabled]=" modalData?.operatorAcertificate != null"></p-fileUpload>
                  <span *ngIf='operatorAcertificateFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{operatorAcertificateFileName}}</span>
              </div>
            </div>
            <div class="ui-g-12 form-upload-padding file-upload-second">
              <div class="ui-g-8">Operator B certificate</div>
              <div class="ui-g-4">
                <p-fileUpload name="certificateBFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}" #certificateBFileUpload
                  customUpload="true" (onSelect)="enableCertificationuploadButton = true;operatorBcertificateFile = $event.files[0]; operatorBcertificateFileName=$event.files[0].name"
                  [disabled]="modalData?.operatorBcertificate != null"></p-fileUpload>
                  <span *ngIf='operatorBcertificateFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{operatorBcertificateFileName}}</span>
              </div>
            </div>
            <div class="ui-g-12 form-upload-padding file-upload-first">
              <div class="ui-g-8">Operator C certificate</div>
              <div class="ui-g-4">
                <p-fileUpload name="certificateCFile[]" mode="basic" class="no-left-round-radius" accept=".*" chooseLabel="{{uploadLabel}}"
                  #certificateCFiletFileUpload customUpload="true" (onSelect)="enableCertificationuploadButton = true;operatorCcertificateFile = $event.files[0]; operatorCcertificateFileName=$event.files[0].name"
                  [disabled]="modalData?.operatorCcertificate != null"></p-fileUpload>
                  <span *ngIf='operatorCcertificateFileSuccess == "true"'> <i class="fa fa-check success" aria-hidden="true"></i></span><span class="file-upload-font">{{operatorCcertificateFileName}}</span>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="!enableCertificationuploadButton"  (click) ="importCertificationDocuments()">Upload</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Certification modal dialog end -->
  <!-- search start -->
  <split direction="horizontal" class="split-pane-class" [useTransition]="true" gutterSize="3" gutterColor="{{GUTTER_COLOR}}" *ngIf="showSearchResults">
    <split-area [visible]="searchArea.leftVisible" [size]="searchArea.left" order="1">
       
        <div class="ui-g-12  margin-top" style="cursor: pointer;">
            <i *ngIf="showSearchResults" i class="fa fa-arrow-left back-refresh-button" aria-hidden="true"  title="Back to main page"
              aria-hidden="true" (click)="showAll()"></i>
          </div>  
            <div id="rightSearchPanel" style="margin:10px;">
                
              <div style="padding: 10px;padding-left: 0px;">Search results for "{{commonService.getSearchString()}}"</div>
              <div style="height:calc(100vh - 202px);overflow-y: auto">
              <p-accordion>
                  <p-accordionTab header="Facilities ({{searchResult.facilitiesList.length}})">
             
               
                      
                            <div *ngIf="searchResult.facilitiesList.length>0">
                  <div *ngFor="let fdata of searchResult.facilitiesList; let i = index;" style="padding:10px;">
                    <div *ngIf="i%3 == 0" class="ui-g-12">
                        <div *ngFor="let number of [0,1] let j = index;">
                            <div *ngIf="searchResult.facilitiesList[i+j] != null && searchResult.facilitiesList[i+j] != undefined"  class="{{middlePaneClass}}" (click)="showSpecificfacilityDetails(searchResult.facilitiesList[i+j])" style="cursor: pointer;" title="Click for more details">
                                <p-card styleClass="ui-card-shadow">
                                  <div style="width: 100%">
                                   <div> <div ngClass="header-padding-left ui-card-header">{{searchResult.facilitiesList[i+j].name}}</div>
                                    <img class="card-image" src="{{searchResult.facilitiesList[i+j].image}}" /></div>
                                </div>
                                  <div class="ui-g no-padding">
                                    <div class="ui-g-4 no-padding"> Name:</div>
                                    <div class="ui-g-8 no-padding">{{searchResult.facilitiesList[i+j].name}}</div>
                                  </div>
                                  <div class="ui-g no-padding">
                                    <div class="ui-g-4 no-padding"> Fid:</div>
                                    <div class="ui-g-8 no-padding">{{searchResult.facilitiesList[i+j].fid}}</div>
                                  </div>
                                  <div class="ui-g no-padding">
                                    <div class="ui-g-4 no-padding"> Address:</div>
                                    <div class="ui-g-8 no-padding">{{searchResult.facilitiesList[i+j].address}}</div>
                                  </div>
                                  <div class="ui-g no-padding">
                                    <div class="ui-g-4 no-padding"> Compliance:</div>
                                    <div class="ui-g-8 no-padding">
                                      <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="searchResult.facilitiesList[i+j].tankPaidService" [disabled]="true"></p-inputSwitch>
                                    </div>
                                  </div>
                                </p-card>
                              </div>
                              
                        </div>
      
                    </div>
                  </div>
                </div>
                  </p-accordionTab>
                
      <!-- companies start -->
      <p-accordionTab header="Companies ({{searchResult.companiesList.length}})">
      <p-accordion>
      <p-accordionTab header="{{companyData.name}}" *ngFor="let companyData of searchResult.companiesList;">
      <div *ngIf="searchResult.companiesList.length>0">
       
          <div *ngIf="companyData.facilities.length>0">
            <div *ngFor="let fdata of companyData.facilities; let i = index; let even = even;" style="padding:10px;">
                <div *ngIf="i%2 == 0" class="ui-g-12">
                    <div *ngFor="let number of [0,1] let j = index;">
                        <div *ngIf="companyData.facilities[i+j] != null && companyData.facilities[i+j] != undefined" class="{{middlePaneClass}}" (click)="showSpecificfacilityDetails(companyData.facilities[i+j])" style="cursor: pointer;" title="Click for more details">
                            <p-card styleClass="ui-card-shadow">
                               <div style="width: 100%">
                                   <div> <div ngClass="header-padding-left ui-card-header"> {{companyData.facilities[i+j].name}}</div>
                                    <img class="card-image" src="{{companyData.facilities[i+j].image}}" /></div>
                                </div>
                              <div class="ui-g no-padding">
                                <div class="ui-g-4 no-padding"> Name:</div>
                                <div class="ui-g-8 no-padding">{{companyData.facilities[i+j].name}}</div>
                              </div>
                              <div class="ui-g no-padding">
                                <div class="ui-g-4 no-padding"> Fid:</div>
                                <div class="ui-g-8 no-padding">{{companyData.facilities[i+j].fid}}</div>
                              </div>
                              <div class="ui-g no-padding">
                                <div class="ui-g-4 no-padding"> Address:</div>
                                <div class="ui-g-8 no-padding">{{companyData.facilities[i+j].address}}</div>
                              </div>
                              <div class="ui-g no-padding">
                                <div class="ui-g-4 no-padding"> Compliance:</div>
                                <div class="ui-g-8 no-padding">
                                  <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="companyData.facilities[i+j].compliance" [disabled]="true"></p-inputSwitch>
                                </div>
                              </div>
                            </p-card>
                          </div>
                          
                    </div>
      
                </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
        </p-accordionTab>
      </p-accordion>
     
      <!-- companies end -->
 
              </div>
            </div>
    </split-area>

  <split-area [visible]="searchArea.rightVisible" [size]="searchArea.right" order="2">
      <p-panel id="rightDetailsPanel" styleClass="height-center" *ngIf="showRightDetailContent">
          <p-header ngClass="header-padding-left">
              <div style="width: 100%"> {{rightPaneDetailslTitle}}
            <i style="float:right;cursor: pointer;" class="fa fa-times" aria-hidden="true" title="Click to hide the details" (click)="hideRightContentDetails(rightDetailsContent)"></i>
          </div>
          </p-header>
          <div style="height:calc(100vh - 185px);overflow-y: auto">
            <div class="ui-g-12">
                <p-card styleClass="ui-card-shadow">
                    <div style="width: 100%">
                        <div> <div ngClass="header-padding-left ui-card-header" style="padding-left:20px !important"> {{rightDetailsContent.facilityName}}</div>
                         <img class="card-image" src="{{rightDetailsContent.image}}" /></div>
                     </div>
                <div class="ui-g no-padding">
                  <div class="ui-g-4 no-padding"> Name:</div>
                  <div class="ui-g-8 no-padding">{{rightDetailsContent.facilityName}}</div>
                </div>
                <div class="ui-g no-padding">
                  <div class="ui-g-4 no-padding"> Fid:</div>
                  <div class="ui-g-8 no-padding">{{rightDetailsContent.fid}}</div>
                </div>
                <div class="ui-g no-padding">
                  <div class="ui-g-4 no-padding"> Address:</div>
                  <div class="ui-g-8 no-padding">{{rightDetailsContent.address}}</div>
                </div>
                <div class="ui-g no-padding">
                  <div class="ui-g-4 no-padding"> Compliance:</div>
                  <div class="ui-g-8 no-padding">
                    <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="rightDetailsContent.tankPaidService" [disabled]="true"></p-inputSwitch>
                  </div>
                </div>
              </p-card>
            </div>
            <div class="ui-g-12 margin-top" id="individual-chart">
                <p-card styleClass="ui-card-shadow">
                    <div style="width: 100%">
                        <div> <div ngClass="header-padding-left ui-card-header" style="padding-left:20px !important">Consolidate report of Gas station (Gallons)</div>
                          </div>
                         </div>
                  <p-chart [width]="400" [height]="400" type="bar" [data]="consolidateReportdata" [options]="noLegendtOptions"></p-chart>
    
              </p-card>
            </div>
            <div class="ui-g-12 margin-top">
              <div class="ui-g-4">
                <button type="button" class="btn btn-default btn-circle btn-lg"  ngClass="{{ getNotificationFormButtonClass(rightDetailsContent)}}"
                 data-toggle="modal" data-target="#notificationFormModal"
                (click)="getNotificationModalData(rightDetailsContent.facilityId)"
                >Notification
                  <br>Form</button>
              </div>
              <div class="ui-g-4">
                <button type="button" class="btn btn-default btn-circle btn-lg"  ngClass="{{ getComplianceButtonClass(rightDetailsContent)}}"
                 data-toggle="modal" (click)="getNotificationModalData(rightDetailsContent.facilityId)" data-target="#complianceFormModal">Compliance
                  <br>Section</button>
              </div>
              <div class="ui-g-4">
                <button type="button" class="btn btn-default btn-circle btn-lg" ngClass="{{ getCertificationButtonClass(rightDetailsContent)}}" 
                data-toggle="modal" (click)="getNotificationModalData(rightDetailsContent.facilityId)" data-target="#certificationFormModal">Certification</button>
              </div>
            </div>
    
          </div>
        </p-panel>
    </split-area>
  </split>

  <!-- search end -->