<nav class="navbar navbar-expand-lg navbar-light bg-light nav-background-color navbar-height" [hidden]="!commonService.checkValidLogin()">
        <a class="navbar-brand "  style="text-align: center"><img src="assets/images/golars-nav-bar.jpg" style="height:65px; width:170px;" alt="Golars"> 
        </a>
    <div class="form-inline search-margin">
        <form>
            <p-dropdown id="searchDropdown" [options]="searchOptions" [(ngModel)]="selectedSearchOption" name="selectedSearchOption" optionLabel="name" [style]="{'width': '110px'}"></p-dropdown>
            <input type="text"  class="form-control input-text-background-color" name="searchString" [(ngModel)]="searchString" />

            <button class="btn btn-primary search-icon-color" style="background-color: #39b54a;border-color:#39b54a" [disabled]="searchString == null || searchString?.trim().length === 0" (click) ="fetchSearchResults()">Search</button>
        </form>
    </div>
    <ul class="navbar-nav" style="margin-left: auto!important;">
        <li class="nav-item dropdown" [hidden]="!commonService.isAdmin()" style="margin-top: 10px;margin-right: 20px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Users
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="users">{{crmConst.lISTOFUSERS}}</a>
                <a class="dropdown-item" routerLink="newuser">{{crmConst.ADDUSER}}</a>
                <a class="dropdown-item" routerLink="tankmonitorsignup">{{crmConst.TANK_MONITOR_SIGNUP}}</a>
                <a class="dropdown-item" routerLink="schedule">{{crmConst.SCHEDULE}}</a>
            </div>
        </li>
        <li class="nav-item dropdown" style="margin-right: 35px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="{{commonService.getImage()}}" class="profile-image img-circle"> {{commonService.getFullName()}}
                <b class="caret"></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a *ngIf="!commonService.isSecondaryUserPresent()" class="dropdown-item" href="#"  (click)="editUser('editprofile')">{{crmConst.EDITPROFILE}}</a>
                <a class="dropdown-item" href="#" (click)="authService.logout()">{{crmConst.LOGOUT}}</a>
            </div>
        </li>
    </ul>
</nav>
<i class="fa fa-bars nav-bar-bars"  (click)="visibleSidebar=true"></i>
<p-sidebar [(visible)]="visibleSidebar" styleClass="p-sidebar" position="left" [baseZIndex]="10000">
  &nbsp;
  <p-accordion id="leftpanel">
    <p-accordionTab header="{{crmConst.DASHBOARD}}" [selected]="true" (click)="showAll();visibleSidebar=false;">
    </p-accordionTab>
    <p-accordionTab header="{{crmConst.FACALITIES}}" (click)="onFacilitiesDataSelect();visibleSidebar=false;"  [hidden]="commonService.getPreferencesOfFacilities()==false">
    </p-accordionTab>
    <p-accordionTab header="{{crmConst.COMPANIES}}" (click)="onCompaniesDataSelect();visibleSidebar=false;" [hidden]="commonService.getPreferencesOfCompanies()==false">
    </p-accordionTab>
    <p-accordionTab header="{{crmConst.FACALITIESINCOMPLIANCE}}" (click)="onComplianceDataSelect();;visibleSidebar=false;" [hidden]="commonService.getPreferencesOfCompliance()==false">
    </p-accordionTab>
    <p-accordionTab header="{{crmConst.USSBOAVENDORS}}" (click)="onUSSBOASelect();;visibleSidebar=false;">
    </p-accordionTab>
  </p-accordion>
</p-sidebar>
<router-outlet></router-outlet>