<nav class="navbar navbar-expand-lg navbar-light bg-light nav-background-color navbar-height" [hidden]="!commonService.checkValidLogin()">
        <a class="navbar-brand "  style="text-align: center"><img src="assets/images/golars_transparent.png"
             style="height:65px; width:170px; left: 40px;position: relative;" alt="Golars"> 
        </a>
    <div class="form-inline search-margin">
        <form>
            <p-dropdown id="searchDropdown" [options]="searchOptions" [(ngModel)]="selectedSearchOption" name="selectedSearchOption" optionLabel="name" [style]="{'width': '110px'}"></p-dropdown>
            <input type="text"  class="form-control input-text-background-color" name="searchString" [(ngModel)]="searchString" />

            <button class="btn btn-primary search-icon-color" style="background-color: #39b54a;border-color:#39b54a" [disabled]="searchString == null || searchString?.trim().length === 0" (click) ="fetchSearchResults()">Search</button>
        </form>
    </div>
    
    <ul class="navbar-nav" style="margin-left: auto!important;">
        <li class="nav-item dropdown" [hidden]="!commonService.isAdmin()" style="margin-top: 10px;margin-right: 20px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Users
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="users">{{crmConst.lISTOFUSERS}}</a>
                <a class="dropdown-item" routerLink="newuser">{{crmConst.ADDUSER}}</a>
                <a class="dropdown-item" routerLink="tankmonitorsignup">{{crmConst.TANK_MONITOR_SIGNUP}}</a>
                <a *ngIf="!commonService?.isUserManager()" class="dropdown-item" routerLink="schedule">{{crmConst.SCHEDULE}}</a>
            </div>
        </li>
        <li><div  [hidden]="commonService.isAdmin()" class="tank-alert" (click)="getAlertData()" title="Tank Alarm History"><a  data-toggle="modal" data-target="#tankalert" ><i class="fa fa-bell" aria-hidden="true" 
            ></i><span *ngIf='commonService.getTankAlert()?.length>0'>&nbsp;({{commonService.getTankAlert()?.length}})</span></a></div></li>
        <li class="nav-item dropdown" style="margin-right: 35px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="{{commonService.getImage()}}" class="profile-image img-circle"> {{commonService.getFullName()}}
                <b class="caret"></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a *ngIf="!commonService.isSecondaryUserPresent()" class="dropdown-item" href="#"  (click)="editUser('editprofile')">{{crmConst.EDITPROFILE}}</a>
                <a class="dropdown-item" href="#" (click)="commonService.logout(false)">{{crmConst.LOGOUT}}</a>
            </div>
        </li>
    </ul>
</nav>
<div class="modal fade" id="tankalert" tabindex="-1" role="dialog" aria-labelledby="tankalert" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tank Alarm History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p-table [value]="alertList" scrollHeight="500px" [scrollable]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <!-- <th style="width:100px;">S.no</th> -->
                            <th style="width:25%;">Name</th>
                            <th style="width:30%;">Alarm Type</th>
                            <th style="width:10%;">Fid</th>
                            <th style="width:35%;">Occured Date</th>
                            <!-- <th style="width:20%;">Run Date</th>
                           <th style="width:10%;">Tank</th>
                            <th style="width:10%;">Type</th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-alarm let-rowIndex="rowIndex">
                        <tr>
                            <!-- <td style="width:5%;">
                                   {{rowIndex+1}}
                            </td> -->
                            <td style="width:25%;word-break: break-all;">{{alarm.name}}</td>
                            <td style="width:30%;word-break: break-all;">{{alarm.alarmType}}</td>
                            <td style="width:10%;word-break: break-all;">{{alarm.fid}}</td>
                            <td style="width:35%;word-break: break-all;">{{alarm.occuredDate}}</td>
                            <!-- <td style="width:20%;word-break: break-all;">{{alarm.runDate}}</td>
                            <td style="width:10%;word-break: break-all;">{{alarm.tank}}</td>
                            <td style="width:10%;word-break: break-all;">{{alarm.type}}</td> -->
                           </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<i class="fa fa-bars nav-bar-bars"  (click)="visibleSidebar=true"></i>
<p-sidebar [(visible)]="visibleSidebar" styleClass="p-sidebar" position="left" [baseZIndex]="10000">
  &nbsp;
  <p-accordion id="leftpanel">
    <p-accordionTab header="{{crmConst.DASHBOARD}}" [selected]="true" (click)="showAll();visibleSidebar=false;">
    </p-accordionTab>
    <p-accordionTab header="{{crmConst.FACALITIES}}" (click)="onFacilitiesDataSelect();visibleSidebar=false;"  [hidden]="commonService.getPreferencesOfFacilities()==false">
    </p-accordionTab>
    <p-accordionTab header="{{crmConst.COMPANIES}}" (click)="onCompaniesDataSelect();visibleSidebar=false;" [hidden]="commonService.getPreferencesOfCompanies()==false">
    </p-accordionTab>
    <p-accordionTab header="{{crmConst.FACALITIESINCOMPLIANCE}}" (click)="onComplianceDataSelect();;visibleSidebar=false;" [hidden]="commonService.getPreferencesOfCompliance()==false">
    </p-accordionTab>
    <p-accordionTab header="{{crmConst.USSBOAVENDORS}}" (click)="onUSSBOASelect();;visibleSidebar=false;">
    </p-accordionTab>
  </p-accordion>
</p-sidebar>
<router-outlet></router-outlet>