<div class="ui-panel ui-widget ui-widget-content ui-corner-all">
    <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all" style="margin-bottom: 20px;margin-left: 10px">
     <span class="ui-panel-title"> USSBOA Preferred Vendor </span>
     </div>
    <p-table [value]="ussBOAApprovedData" scrollHeight="300px" [scrollable]="true">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:15%">Name</th>
            <th style="width:20%">Vendor Contact</th>
            <th style="width:20%">Email</th>
            <th style="width:20%">Phone</th>
            <th style="width:15%">Mobile</th>
            <th style="width:10%">&nbsp;</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ussboa let-rowIndex="rowIndex">
        <tr>
           
            <td style="width:15%">{{ussboa.name}}</td>
            <td style="width:20%">{{ussboa.ownerName}}</td>
            <td style="width:20%">{{ussboa.email}}</td>
            <td style="width:20%">{{ussboa.phone}}</td>
            <td style="width:15%">{{ussboa.mobile}}</td>
            <td style="width:10%"><span *ngIf="ussboa?.documentLink != null"><button class="btn btn-primary" type="button" 
                data-toggle="modal"  data-target="#contentModal" (click)="setUSSBOA(ussboa)">USSBOA Contract</button></span></td>
        </tr>
    </ng-template>
</p-table>
</div>

<div class="ui-panel ui-widget ui-widget-content ui-corner-all"  style="margin-top:30px;border: 0px" >
        <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all" style="margin-bottom: 20px;margin-left: 10px">
         <span class="ui-panel-title">USSBOA Associate Vendor</span>
         </div>
        <p-table [value]="ussBOAAssociateData" scrollHeight="300px" [scrollable]="true">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:15%">Name</th>
                <th style="width:20%">Vendor Contact</th>
                <th style="width:20%">Email</th>
                <th style="width:20%">Phone</th>
                <th style="width:15%">Mobile</th>
                <th style="width:10%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ussboa let-rowIndex="rowIndex">
            <tr>
               
              <td style="width:15%">{{ussboa.name}}</td>
                <td style="width:20%">{{ussboa.ownerName}}</td>
                <td style="width:20%">{{ussboa.email}}</td>
                <td style="width:20%">{{ussboa.phone}}</td>
                <td style="width:15%">{{ussboa.mobile}}</td>
                <td style="width:10%"><span *ngIf="ussboa?.documentLink != null"><button class="btn btn-primary" type="button" 
                    data-toggle="modal"  data-target="#contentModal" (click)="setUSSBOA(ussboa)">USSBOA Contract</button></span></td>
            </tr>
        </ng-template>
    </p-table>
    </div>


    <!-- Modal -->
<div *ngIf="renderIframe==true" class="modal fade" id="contentModal" role="dialog" >
    <div class="modal-dialog modal-lg" style="height:90%">
      <div class="modal-content" style="height:100%">
        <div class="modal-body" style="height:100%">
            <iframe [src]="getDocURL() | safe"  width="100%"  style="border: none;height: calc(100% - 5px)"></iframe>
        </div>
       
      </div>
    </div>
  </div>